<!DOCTYPE html>
<html lang="{{locale}}">

<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1">

  <title>{{{i18n 'title'}}}</title>

  <link rel="stylesheet" href="/stylesheets/style.css"/>

  {{#each SCRIPTS}}
    <script type="text/javascript" src="/scripts/{{this}}"></script>
  {{/each}}
</head>

<body>
<nav class="navbar navbar-inverse navbar-fixed-top">
  <div class="container">
    {{> header}}
  </div>
</nav>

<div class="container">
<!--{{#each locales}}-->
  <!--<a href="{{localeURL locale}}" class="{{#if isActive}}active{{/if}}">{{locale}}</a>-->
    <!--{{/each}}-->
  <ol class="breadcrumb">
    {{{breadcrumb}}}
  </ol>

  {{{body}}}

  <footer class="footer">
    <div id="footer-content">
      {{> footer}}
    </div>
  </footer>
</div>

</body>

</html>
