<h1>{{i18n 'navigation.archive'}}</h1>

<div class="panel-group" id="accordion" role="tablist" aria-multiselectable="true">
  {{#each list}}
    <div class="panel panel-default">
      <div class="panel-heading" role="tab">
        <h2 class="panel-title">
          <a role="button" data-toggle="collapse" data-parent="#accordion" href="#{{year}}" aria-expanded="true"
             aria-controls="{{year}}">sIT {{year}}</a>
        </h2>
      </div>
      <div id="{{year}}" class="panel-collapse collapse" role="tabpanel" aria-labelledby="{{year}}">
        <div class="panel-body">{{{data.description}}}</div>
        <div class="panel-footer"><a href="{{url 'archive' year}}">{{i18n 'archive.details'}}</a></div>
      </div>
    </div>
  {{/each}}
</div>