<h1>sIT {{year}}</h1>

<ul class="nav nav-tabs" role="tablist">
  <li role="presentation" class="active">
    <a href="#overview" aria-controls="overview" role="tab" data-toggle="tab">{{{i18n 'year.overview'}}}</a>
  </li>
  {{#if data.schedule.length}}
    <li role="presentation">
      <a href="#presentations" aria-controls="presentations" role="tab" data-toggle="tab">
        {{{i18n 'year.presentations'}}}
      </a>
    </li>
  {{/if}}
  {{#if data.workshops.length}}
    <li role="presentation">
      <a href="#workshops" aria-controls="workshops" role="tab" data-toggle="tab">{{{i18n 'year.workshops'}}}</a>
    </li>
  {{/if}}
</ul>

<div class="tab-content well">

  <div role="tabpanel" id="overview" class="tab-pane active">{{{data.description}}}</div>

  <div role="tabpanel" id="presentations" class="tab-pane">
    <ol class="timeline">
      {{#each data.schedule}}
        <li class="timeline-label">
          <a role="button" data-toggle="collapse" data-parent="#presentations"
             href="#presentations-{{moment date format="YYYY-MM-DD" input="YYYY/MM/DD"}}" aria-expanded="true"
             aria-controls="presentations-{{moment date format="YYYY-MM-DD" input="YYYY/MM/DD"}}">
            {{moment date format="dddd, L" input="YYYY/MM/DD"}}
          </a>
        </li>
        <li id="presentations-{{moment date format="YYYY-MM-DD" input="YYYY/MM/DD"}}"
            class="timeline-items collapse in">
          {{#each content}}
            {{#withLookup ../../data.presentations presentation}}
              <div class="timeline-item">
                <div class="badge badge-{{#if color}}{{color}}{{else}}info{{/if}}">
                  <i class="fa fa-{{#if icon}}{{icon}}{{else}}comment{{/if}}"></i>
                </div>
                <div class="panel panel-default">
                  <h4 class="panel-heading">
                    {{title}}
                    <small class="text-muted text-mono pull-right">
                      <i class="fa fa-fw fa-clock-o"></i> {{moment ../time format="LT" input="hh:mm"}}
                      <i class="fa fa-fw fa-ellipsis-h"></i>
                      {{#if duration}}
                        {{momentAdd ../time duration format="LT" input="hh:mm" unit="minutes"}}
                      {{/if}}
                    </small>
                  </h4>
                  <div class="panel-body">{{{details}}}</div>
                  {{> eventFooter}}
                </div>
              </div>
            {{/withLookup}}
          {{/each}}
        </li>
      {{/each}}
    </ol>
  </div>

  <div role="tabpanel" id="workshops" class="tab-pane">
    {{#each data.workshops}}
      <div class="panel panel-info">
        <h4 class="panel-heading">{{title}}</h4>
        <div class="panel-body">
          <ol class="workshop-times text-muted text-mono">
            {{#each times}}
              <li>
                <i class="fa fa-fw fa-calendar"></i>
                {{moment datetime format="LLLL" input="YYYY/MM/DD hh:mm"}}
                <i class="fa fa-fw fa-ellipsis-h"></i>
                {{#if duration}}
                  {{momentAdd datetime duration format="LT" input="YYYY/MM/DD hh:mm" unit="minutes"}}
                {{/if}}
              </li>
            {{/each}}
          </ol>
          {{{details}}}
        </div>
        {{> eventFooter}}
      </div>
    {{/each}}
  </div>

</div>
