{{#if author.website}}
  <a href="{{author.website}}">{{author.name}}</a>
{{else}}
  {{#if author.name}}{{{author.name}}}{{else}}<em title="{{i18n 'noAuthor.title'}}">{{i18n 'noAuthor.text'}}</em>{{/if}}
{{/if}}
{{#if author.email}}
  <a href="mailto:{{author.email}}"><i class="fa fa-fw fa-envelope-o"></i></a>
{{/if}}

{{#if company}}
  {{i18n 'behalfOf'}}
  {{#if company.website}}
    <a href="{{company.website}}">{{company.name}}</a>
  {{else}}
    {{{company.name}}}
  {{/if}}
  {{#if company.email}}
    <a href="mailto:{{company.email}}"><i class="fa fa-fw fa-envelope-o"></i></a>
  {{/if}}
{{/if}}
