{{#if poster}}
  <div class="media">
    <div class="media-body">{{{overview}}}</div>
    <div class="media-right">
      <div class="thumbnail">
        <a href="/poster/{{year}}/sIT-{{year}}-full.jpg">
          <img class="poster-preview" src="/poster/{{year}}/sIT-{{year}}-200.jpg" alt="poster" class="media-object"/>
        </a>
        <div class="caption text-right">Copyright &copy; {{year}} Yvi</div>
      </div>
    </div>
  </div>
{{else}}
  {{{overview}}}
{{/if}}